 <!-- a basic listener node ROS_HOME=`pwd` may help to direct things
  if not bag files will be in  ~/.ros  -->

<launch>
  <node name="kite_ros" pkg= 'kite_ros' type="basic_motion_detection.py" />
    <node name="ardstub" pkg= 'kite_ros' type="talk_arduino_stub.py" />
    <node name="kitebar" pkg= 'kite_ros' type="kitebar.py" />
    <node pkg="rosbag" type="record" name="record" output="screen" args="-a"/>
</launch>
